<div class="container">
  <div class="row">
    <div class="page-header">
      <h2 style="text-align: center; font-family:Tahoma;">Electronics</h2>
    </div>

  </div>
  <!-- Brand Filtters-->
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="brand_select">By Brands:</label>
        <select class="form-control" name="" id="brand_select">
          <option>
          </option>
        </select>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
      </ul>
    </div>
    <!-- Brand Filtters Ends-->

    <!--products-->
    <div class="col-md-9">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 mb-2">
            <div class="item">

              <div class="mb-r">
                <div class="card card-cascade wider">
                  <a>
                    <div class=" view hm-white-slight">
                      <img src="../../../assets/products/iphone.jpg" />
                    </div>
                  </a>
                  <div class="card-body text-center no-padding">
                    <a class="muted">muted</a>
                    <p class=title>title</p>
                    <p class=card-text>text</p>
                    <div class="card-footer">Footer</div>
                  </div>
                </div>

              </div>
            </div>

          </div>
          

          <!--2nd prod-->

          <div class="col-sm-4 mb-2">
            <div class="item">

              <div class="mb-r">
                <div class="card card-cascade wider">
                  <a>
                    <div class=" view hm-white-slight">
                      <img src="../../../assets/products/iphone.jpg" />
                    </div>
                  </a>
                  <div class="card-body text-center no-padding">
                    <a class="muted">muted</a>
                    <p class=title>title</p>
                    <p class=card-text>text</p>
                    <div class="card-footer">Footer</div>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <!--3rd prod-->
          
        </div>

      </div>
    </div>




  </div>
  <!-- Card-->

</div>
<!--conatiner-->