<div class="container">
    <div class="row" *ngIf="cartProducts.length > 0">

        <div class="col-md-8">
            <div class="row">

                <div class="col-md-4" *ngFor="let product of cartProducts">
                    <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                        <!--Card image-->
                        <div class="view view-cascade overlay text-center"> <img class="card-img-top"
                                [src]="product.productURL" alt="" width="200px" height="200px"> <a>
                                <div class="mask rgba-white-slight"></div>
                            </a> </div>
                        <!--Card Body-->
                        <div class="card-body text-center no-padding">
                            <!--Card Title-->
                            <h4 class="card-title"><strong><a href="">{{product.productName}}</a></strong></h4>
                            <!-- Card Description-->
                            <p class="card-text">{{product.productDescription}} </p>
                            <p class="price">{{product.productPrice| currency:'INR'}}</p>
                            <!-- Card Rating-->
                            <span class="right">
                                <a placement="top" data-toggle="tooltip" title="Click to View" container="body"
                                    [routerLink]="['/product', product.$_id]">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </a>&nbsp;
                                <a placement="top" data-toggle="tooltip" title="Remove" container="body"
                                    (click)="removeCartProduct(product)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </span>


                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-md-4">
            <app-cart-value [products]="cartProducts"></app-cart-value>

        </div>



    </div>


    <!--No Product Details-->
    <div class="jumbotron" *ngIf="cartProducts.length == 0 ">
        <span class="text-center">
            <h3> No items in the Cart. Go to <a class="text-center btn btn-primary btn-lg"
                    [routerLink]="['/products']">Shopping</a></h3>

        </span>


    </div>

</div>