.navbar{
    background-color:    #3b3bc3;
}

.navbar-brand,.navbar-default,.navbar-nav > li > a{
    color:white;
}
.nav-item {
    margin-left: 10px;
    margin-right: 10px;
  }

.container{
    width:100%;
    padding: 0px;
}
header{
    display: block;
    margin-bottom: -24px;
}

.dropdown-toggle::after{
    margin-left: 0.5rem;
  }
  .dropdown-menu{
    margin: .5rem 0 0;
  }

  .dropdown-menu::after{
    content: '';
    position: absolute;
    top: -20px;
    left: 10px;
    border: solid transparent;
    width: 0;
    height: 0;
    border-width: 10px;
    border-bottom-color: #FFF;
  }