<div id="demo" class="carousel slide" data-ride="carousel" #crouselBox (mouseover)="showArrow()" (mouseout)="hideArrow()">
    <ul class="carousel-indicators">
      <li *ngFor="let no of crouselData; let i = index" data-target="#demo" data-slide-to="i"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let c of crouselData">
        <img src="{{c.url}}" alt="{{c.title}}" width="1100" height="500">
        <div class="carousel-caption">
          <h3>{{c.title}}</h3>
          <p>{{c.caption}}</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>