.carousel-item img{
  width: 100%;
}

.carousel{
    margin-left:20px;
}

.carousel-control-next, .carousel-control-prev {
  height: 100px;
  margin: -50px 0 0;
  width: 46px;
  background: #fff;
  color: #ffff;
  top: 50%;
  position: absolute;
  z-index: 8;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  text-indent: 0;
  font-size: 0;
  transition: .3s;
   
}

.carousel-control-prev{
     border-radius:(0 5px 5px 0);
    left: -70px;
}


.carousel-control-next{
    border-radius :(5px 0 0 5px);
    right: -70px;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 20px;
  line-height: 20px;
  color: black;
  font-weight: bold;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 20px;
  line-height: 20px;
  color:black;
  font-weight: bold;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50%/100% 100%;
  background-image: none;
  align-content: center;
}